/* 
	MyFeedback
	myhealth1st
	CSS by Messy Design
*/
/*
	Reset
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	Variables
*/
/*
	On-off Switch (style checkbox)
*/
.onoffswitch {
  position: relative;
  width: 36px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #E3E3E3;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.15s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 12px;
  padding: 0;
  line-height: 12px;
  font-size: 15px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #2BD6C4;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #CBD0D7;
  color: #666666;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 16px;
  margin: -2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  border: 1px solid #E3E3E3;
  border-radius: 20px;
  transition: all 0.15s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

/*
	Mixins
*/
/*
	Elements
*/
body {
  font: 16px "Rubik", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Arial, sans-serif;
  color: #e21c77;
}

h1, .h1 {
  font-size: 2rem;
  margin-bottom: 18px;
}

p {
  margin-bottom: 1rem;
}

.small {
  font-size: 0.7rem;
}

/*
	Layout
*/
.hidden {
  display: none;
}

.fluid-container {
  width: 90%;
  margin: 40px auto;
}

a {
  color: #e21c77;
}

/*
	Input elements
*/
button.btn, a.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #999;
  background-color: #fff;
  color: #071c49;
  height: 40px;
  min-width: 200px;
  line-height: 38px;
  border-radius: 40px;
  font-size: 12.8px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}
button.btn.btn-primary, a.btn.btn-primary {
  background-color: #e21c77;
  border-color: #e21c77;
  color: #fff;
}
button.btn.btn-secondary, a.btn.btn-secondary {
  color: #e21c77;
  background-color: #fff;
  border-color: #e21c77;
}
button.btn.btn-secondary:hover, a.btn.btn-secondary:hover {
  color: #fff;
  background-color: #e21c77;
}
button.btn.btn-active, a.btn.btn-active {
  background-color: #071c49;
  border-color: #071c49;
  color: #fff;
}

input[type="text"] {
  box-sizing: border-box;
  padding: 0 1rem;
  border: 1px solid #999;
  background-color: #fff;
  color: #999;
  height: 40px;
  min-width: 200px;
  line-height: 38px;
  border-radius: 40px;
  outline: none;
}

.search_form {
  position: relative;
  height: 40px;
}
.search_form label {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 40px;
  line-height: 40px;
  color: #999;
  cursor: text;
}
.search_form input {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
}
.search_form button {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 32px;
  height: 32px;
  min-width: auto;
  background: url(../images/icon-search.gif) no-repeat 4px 3px;
  background-color: #e21c77;
}
.search_form button.clear {
  background-image: url(../images/icon-clear-search.gif);
  background-position: 50% 50%;
}

header {
  height: 100px;
  width: 95%;
  margin: 0 auto;
}
header h1 a {
  float: left;
  text-transform: lowercase;
  display: block;
  width: 279px;
  height: 43px;
  background: url(../images/logo-easyfeedback.png) no-repeat;
  background-size: 279px 42px;
}
header a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
header nav {
  float: right;
  margin-top: 1rem;
}
header nav li {
  float: left;
  margin-right: 6vw;
  font-size: 0.95rem;
}
header nav li:last-child {
  margin-right: 3vw;
}
header nav a {
  padding-bottom: 3px;
}
header nav li.active a,
header nav li:hover a {
  border-bottom: 4px solid #e21c77;
}
header nav li.logout a {
  color: #071c49;
}
header nav li.logout.active a,
header nav li.logout:hover a {
  border-color: #071c49;
}

.content-header {
  box-sizing: border-box;
  padding-top: 40px;
  height: 200px;
  background-color: #071c49;
  color: #fff;
}
.content-header h2 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
}
.content-header h3 {
  font-size: 1.4rem;
  color: #fff;
}
.content-header .heading {
  float: left;
  width: 30%;
}
.content-header .heading p {
  font-size: 0.8rem;
}
.content-header .middle-col {
  float: left;
  width: 40%;
}
.content-header .middle-col .cancel-question {
  text-align: center;
}
.content-header .middle-col .cancel-question a {
  color: #fff;
  text-decoration: none;
  background: url(../images/icon-question-cancel.gif) 0 48%;
  background-repeat: no-repeat;
  padding-left: 30px;
}
.content-header .middle-col .heading_input {
  font-size: 2rem;
  background: transparent;
  width: 100%;
  text-align: center;
  border: 1px dashed #555;
  color: #fff;
  padding: 1.6rem;
  background: url(../images/icon-pencil-header.gif) no-repeat 95% 50%;
}
.content-header .user {
  float: right;
  margin-right: 2rem;
  margin-top: -7px;
}
.content-header .user .photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
  float: left;
}
.content-header .user .text {
  float: left;
  margin-left: 14px;
  padding-top: 7px;
}
.content-header .user .text .name {
  font-weight: 600;
}
.content-header .user .text .role {
  font-size: 0.8rem;
}

.content-main {
  width: 50%;
  margin: 2vw auto;
  text-align: center;
}
.content-main .top-button {
  font-size: 1.2rem;
  width: 290px;
  color: #999;
  letter-spacing: 0;
  border-width: 2px;
}
.content-main .top-button:hover {
  color: #e21c77;
  border-color: #e21c77;
}
.content-main .top-button:active, .content-main .top-button:focus {
  border-color: #555;
  background-color: #555;
  color: #fff;
}
.content-main .survey_table, .content-main .questions_table {
  margin-top: 2rem;
  text-align: left;
}
.content-main .survey_table .row, .content-main .questions_table .row {
  clear: both;
  border-top: 1px solid #f4f5f6;
  color: #7b7b7b;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
.content-main .survey_table .row:after, .content-main .questions_table .row:after {
  content: '';
  display: table;
  clear: both;
}
.content-main .survey_table .row:last-child, .content-main .questions_table .row:last-child {
  border-bottom: 1px solid #f4f5f6;
}
.content-main .survey_table .row:hover, .content-main .questions_table .row:hover {
  color: #e21c77;
  background: #f0f2f5;
}
.content-main .survey_table .row.disabled:hover, .content-main .questions_table .row.disabled:hover {
  color: #7b7b7b;
}
.content-main .survey_table .row:active, .content-main .questions_table .row:active {
  background: #4a4a4a;
  color: #fff;
}
.content-main .survey_table .row .title, .content-main .questions_table .row .title {
  width: 60%;
  float: left;
  font-size: 0.8rem;
  line-height: 1.4rem;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.content-main .survey_table .row .icon-holder, .content-main .questions_table .row .icon-holder {
  width: 7%;
  float: left;
}
.content-main .survey_table .row i.icon, .content-main .questions_table .row i.icon {
  display: inline-block;
  margin: 0 0.5rem;
  position: relative;
  top: 0.45rem;
  background: url(../images/sprite-icon-page.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 20px;
  height: 26px;
}
.content-main .survey_table .row:hover i.icon, .content-main .questions_table .row:hover i.icon {
  background-position: -20px 0;
}
.content-main .survey_table .row:active i.icon, .content-main .questions_table .row:active i.icon {
  background-position: -40px 0;
}
.content-main .survey_table .row.disabled i.icon, .content-main .questions_table .row.disabled i.icon {
  background-image: url(../images/icon-disabled.gif);
  left: -2px;
}
.content-main .survey_table .row.disabled:hover i.icon, .content-main .questions_table .row.disabled:hover i.icon {
  background-position: 0 0;
}
.content-main .survey_table .row .group, .content-main .questions_table .row .group {
  width: 23%;
  color: #959595;
  float: left;
  text-align: right;
  font-size: 0.7rem;
  line-height: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.content-main .survey_table .row:hover .group, .content-main .questions_table .row:hover .group {
  color: #e21c77;
}
.content-main .survey_table .row.disabled:hover .group, .content-main .questions_table .row.disabled:hover .group {
  color: #959595;
}
.content-main .survey_table .row:active .group, .content-main .questions_table .row:active .group {
  color: #fff;
}
.content-main .survey_table .row .onoffswitch-holder, .content-main .questions_table .row .onoffswitch-holder {
  width: 10%;
  box-sizing: border-box;
  float: right;
  padding-left: 1rem;
  padding-right: 0.5rem;
  position: relative;
  top: 0.75rem;
}
.content-main .survey_table .row .hint, .content-main .questions_table .row .hint {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
  background: #e21c77;
  color: #fff;
  font-size: 0.55rem;
  position: absolute;
  left: 101.5%;
  top: 0.66rem;
  white-space: nowrap;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  line-height: 1;
}
.content-main .survey_table .row.disabled .hint.visible, .content-main .questions_table .row.disabled .hint.visible {
  visibility: visible;
  opacity: 1;
}
.content-main .questions_table .row {
  cursor: auto;
  background: #fff;
}
.content-main .questions_table .row .handle {
  width: 1%;
  float: left;
  background: url(../images/icon-handle.gif) no-repeat 50% 50%;
  height: 7px;
  padding: 0.8rem;
  cursor: -webkit-grab;
  cursor: grab;
}
.content-main .questions_table .row:hover {
  color: #7b7b7b;
}
.content-main .questions_table .row:active {
  background: #eee;
  color: #7b7b7b;
  z-index: 999;
}
.content-main .questions_table .row:active .handle {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.content-main .questions_table .row.sortable-ghost {
  opacity: 0;
}
.content-main .questions_table .row.sortable-chosen {
  border-top: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.content-main .questions_table .row .number {
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.2rem;
  border-radius: 1.4rem;
  border: 2px solid #7b7b7b;
  box-sizing: border-box;
  font-size: 0.84rem;
  font-weight: 600;
  color: #7b7b7b;
  text-align: center;
  float: left;
  margin-top: 0.5rem;
}
.content-main .questions_table .row .number span {
  position: relative;
  left: -1px;
}
.content-main .questions_table .row .number.highlight {
  border-color: #e21c77;
  background-color: #e21c77;
  color: #fff;
}
.content-main .questions_table .row .title {
  width: 75%;
  float: left;
  padding-left: 1rem;
}
.content-main .questions_table .row .actions {
  width: 10%;
  float: right;
  padding-top: 0.5rem;
}
.content-main .questions_table .row .actions .edit {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../images/icon-pencil-row.gif);
  margin-right: 0.3rem;
  cursor: pointer;
}
.content-main .questions_table .row .actions .delete {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/icon-delete.gif);
  cursor: pointer;
}
.content-main .questions_table .row .hint.visible {
  visibility: visible;
  opacity: 1;
}
.content-main .small {
  color: #999;
  margin-top: 0.7rem;
}

/*# sourceMappingURL=styles.css.map */
