/*
	Variables
*/

$blue-dark: #071c49;
$blue: #05c1dd;
$green: #2bd6c4;
$yellow: #fcd823;
$pink: #e21c77;
$white: #fff;
$grey-light: #999;
$grey-mid: #555;
$grey-dark: #333;

$grey-7b: #7b7b7b;

$font-montserrat: 'Montserrat', Arial, sans-serif;
$font-rubik: 'Rubik', Arial, sans-serif;
$font-size-base: 16px;

$input-min-width: 200px;
$input-height: 40px;
