/* 
	MyFeedback
	myhealth1st
	CSS by Messy Design
*/

@import 'reset';
@import 'variables';
@import 'onoffswitch';
@import 'mixins';

/*
	Elements
*/

body { 
	font: $font-size-base $font-rubik;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-montserrat;
	color: $pink;
}

h1, .h1 {
	font-size: 2rem;
	margin-bottom: 18px;
}

p {
	margin-bottom: 1rem;
}

.small {
	font-size: 0.7rem;
}

/*
	Layout
*/
.hidden {
	display: none;
}

.fluid-container {
	width: 90%;
	margin: 40px auto;
}


a {
	color: $pink;
}

/*
	Input elements
*/
button.btn, a.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	border: 1px solid $grey-light;
	background-color: $white;
	color: $blue-dark;
	height: $input-height;
	min-width: $input-min-width;
	line-height: ($input-height - 2);
	border-radius: $input-height;
	font-size: ($font-size-base * 0.8);
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;

	&.btn-primary {
		background-color: $pink;
		border-color: $pink;
		color: $white;
	}

	&.btn-secondary {
		color: $pink;
		background-color: $white;
		border-color: $pink;

		&:hover {
			color: $white;
			background-color: $pink;
		}
	}

	&.btn-active {
		background-color: $blue-dark;
		border-color: $blue-dark;
		color: $white;
	}
} //buttons

//text input
input[type="text"] {
	box-sizing: border-box;
	padding: 0 1rem;
	border: 1px solid $grey-light;
	background-color: $white;
	color: $grey-light;
	height: $input-height;
	min-width: $input-min-width;
	line-height: ($input-height - 2);
	border-radius: $input-height;
	outline: none;
}

.search_form {
	position: relative;
	height: $input-height;

	label {
		position: absolute;
		top: 0;
		left: 1rem;
		height: $input-height;
		line-height: $input-height;
		color: #999;
		cursor: text;
	}

	input {
		width: 100%;	
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1rem;
	}

	button {
		position: absolute;
		top: 4px;
		right: 4px;
		width: ($input-height - 8);
		height: ($input-height - 8);
		min-width: auto;
		background: url(../images/icon-search.gif) no-repeat 4px 3px;
		background-color: $pink;

		&.clear {
			background-image: url(../images/icon-clear-search.gif);
			background-position: 50% 50%;
		}
	}
	
} // .search_form



header {
	height: 100px;
	width: 95%;
	margin: 0 auto;
	
	h1 a {
		float: left;
		text-transform: lowercase;
		display: block;
		width: 279px;
		height: 43px;
		background: url(../images/logo-easyfeedback.png) no-repeat;
		background-size: 279px 42px;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
	}

	nav {
		float: right;
		margin-top: 1rem;

		li {
			float: left;
			margin-right: 6vw;
			font-size: 0.95rem;

			&:last-child {
				margin-right: 3vw;
			}
		}

		a {
			padding-bottom: 3px;
		}

		li.active a,
		li:hover a 
		{
			border-bottom: 4px solid $pink;
		}

		li.logout a {
			color: $blue-dark;
		}

		li.logout.active a,
		li.logout:hover a
		{
			border-color: $blue-dark;
		}
	}
} //header

.content-header {
	box-sizing: border-box;
	padding-top: 40px;
	height: 200px;
	background-color: $blue-dark;
	color: $white;

	h2 {
		font-size: 1.5rem;
		color: $white;
		font-weight: 600;
	}

	h3 {
		font-size: 1.4rem;
		color: $white;
	}

	.heading {
		float: left;
		width: 30%;

		p {
			font-size: 0.8rem;
		}
	} //.heading

	.middle-col {
		float: left;
		width: 40%;

		//cancel new question
		.cancel-question {
			text-align: center;

			a {
				color: $white;
				text-decoration: none;
				background: url(../images/icon-question-cancel.gif) 0 48%;
				background-repeat: no-repeat;
				padding-left: 30px;
			}
		}
		
		//survey_edit
		.heading_input {
			font-size: 2rem;
			background: transparent;
			width: 100%;
			text-align: center;
			border: 1px dashed $grey-mid;
			color: $white;
			padding: 1.6rem;

			background: url(../images/icon-pencil-header.gif) no-repeat 95% 50%;
		}
		
		
	} //.middle-col

	.user {
		float: right;
		margin-right: 2rem;
		margin-top: -7px;

		.photo {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-position: 50% 50%;
			background-size: cover;
			float: left;
		}

		.text {
			float: left;
			margin-left: 14px;
			padding-top: 7px;
			
			.name {
				font-weight: 600;
			}

			.role {
				font-size: 0.8rem;
			}
		}
	} //.user
} //.content-header


.content-main { 
	width: 50%;
	margin: 2vw auto;
	text-align: center;

	.top-button {
		font-size: 1.2rem;
		width: 290px;
		color: $grey-light;
		letter-spacing: 0;
		border-width: 2px;

		&:hover {
			color: $pink;
			border-color: $pink;
		}

		&:active, &:focus {
			border-color: $grey-mid;
			background-color: $grey-mid;
			color: $white;
		}
	} //.top-button

	.survey_table {
		margin-top: 2rem;
		text-align: left;

		.row {
			clear: both;
			border-top: 1px solid #f4f5f6;
			color: $grey-7b;
			position: relative;
			cursor: pointer;
			border-radius: 5px;

			&:after {
				@include clearfix;
			}

			&:last-child {
				border-bottom: 1px solid #f4f5f6;
			}

			&:hover {
				color: $pink;
				background: #f0f2f5;
			}

			&.disabled:hover {
				color: $grey-7b;
			}

			&:active {
				background: #4a4a4a;
				color: $white;
			}
			
			.title {
				width: 60%;
				float: left;
				font-size: 0.8rem;
				line-height: 1.4rem;
				text-align: left;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
			}

			.icon-holder {
				width: 7%;
				float: left;
			}
				
			i.icon {
				display: inline-block;
				margin: 0 0.5rem;
				position: relative;
				top: 0.45rem;
				background: url(../images/sprite-icon-page.gif);
				background-position: 0 0;
				background-repeat: no-repeat;
				width: 20px;
				height: 26px;
			}

				&:hover i.icon {
					background-position: -20px 0;
				}

				&:active i.icon {
					background-position: -40px 0;
				}

				&.disabled i.icon {
					background-image: url(../images/icon-disabled.gif);
					left: -2px;
				}

			&.disabled:hover i.icon {
				background-position: 0 0;
			}

			.group {
				width: 23%;
				color: lighten($grey-7b, 10%);
				float: left;
				text-align: right;
				font-size: 0.7rem;
				line-height: 1.4rem;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
			}

				&:hover .group {
					color: $pink;
				}

				&.disabled:hover .group {
					color: lighten($grey-7b, 10%);
				}

				&:active .group {
					color: $white;
				}

			.onoffswitch-holder {
				width: 10%;
				box-sizing: border-box;
				float: right;
				padding-left: 1rem;
				padding-right: 0.5rem;
				position: relative;
				top: 0.75rem;
			}

			.hint {
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s, opacity 0.5s ease;

				background: $pink;
				color: $white;
				font-size: 0.55rem;
				position: absolute;
				left: 101.5%;
				top: 0.66rem;
				white-space: nowrap;
				padding: 0.3rem 0.6rem;
				border-radius: 3px;
				line-height: 1;
			}

			&.disabled .hint.visible {
				visibility: visible;	
				opacity: 1;
			} 
		} //.row
	} //.survey_table

	.questions_table {
		@extend .survey_table;

		.row {
			cursor: auto;
			background: $white;
		
			.handle {
				width: 1%;
				float: left;
				background: url(../images/icon-handle.gif) no-repeat 50% 50%;
				height: 7px;
				padding: 0.8rem;
				cursor: -webkit-grab;
				cursor: grab;
			}

			&:hover {
				color: $grey-7b;
			}

			&:active {
				background: #eee;
				color: $grey-7b;

				.handle {
					cursor: -webkit-grabbing;
					cursor: grabbing;
				}

				z-index: 999;
			}

			&.sortable-ghost {
				opacity: 0;
			}

			&.sortable-chosen {
				border-top: 0;
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
			}

			&.sortable-drag {
			}

			.number {
				$size: 1.4rem;
				width: $size;
				height: $size;
				line-height: $size - 0.2;
				border-radius: $size;
				border: 2px solid $grey-7b;
				box-sizing: border-box;
				font-size: $size * 0.6;
				font-weight: 600;
				color: $grey-7b;
				text-align: center;
				float: left;
				margin-top: 0.5rem;

				span {
					position: relative;
					left: -1px;
				}
			}

			.number.highlight {
				border-color: $pink;
				background-color: $pink;
				color: $white;
			}

			.title {
				width: 75%;
				float: left;
				padding-left: 1rem;
			}

			.actions {
				width: 10%;
				float: right;
				padding-top: 0.5rem;
				
				.edit {
					display: inline-block;
					width: 17px;
					height: 17px;
					background: url(../images/icon-pencil-row.gif);
					margin-right: 0.3rem;
					cursor: pointer;
				}

				.delete {
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url(../images/icon-delete.gif);
					cursor: pointer;
				}
			} //.actions
		
			.hint.visible {
				visibility: visible;	
				opacity: 1;
			} 

		} //.row
	} //.questions_table

	//survey_create
	.small {
		color: $grey-light;
		margin-top: 0.7rem;
	}



} // .content-main

