/*
	MyFeedback front-end
*/
/*
	Reset
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: #8f8f8f;
}
body img.bg {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 60%;
  height: 100%;
}

main {
  z-index: 1;
  width: 60%;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

h1.client_logo {
  display: block;
  width: 30vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin: 1rem auto;
/*   padding-bottom: 4rem; */
}





.question {
  text-align: center;
  font-size: 150%;
  line-height: 1.4;
  width: 80%;
  max-width: 30rem;
  margin: 0 auto;
}

.answer {
  width: 9rem;
  margin: 2rem auto 4rem;
  /* used for horizontal radios */
}
.answer label.tick {
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 0 0 16px 10px;
  border-bottom: 1px solid #f1f2f5;
}
.answer label.tick:first-child {
  border-top: 1px solid #f1f2f5;
}
.answer label.tick .check {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(../images/icon-tick-circle.png);
  background-image: url(../images/icon-tick-circle.svg);
  background-color: #a0a0a0;
  position: relative;
  top: 10px;
}
.answer label.tick input[type="radio"], .answer label.tick input[type="checkbox"] {
  display: none;
}
.answer label.tick input[type='radio']:checked + .check,
.answer label.tick input[type='checkbox']:checked + .check {
  background-color: #e21c77;
  background-image: url(../images/icon-tick.png);
  background-image: url(../images/icon-tick.svg);
}
.answer label.tick .text {
  margin-left: 10px;
  color: #5d5d5d;
}
.answer label.radio {
  display: block;
  cursor: pointer;
  text-align: left;
  padding: 0 0 16px 10px;
  border-bottom: 1px solid #f1f2f5;
}
.answer label.radio:first-child {
  border-top: 1px solid #f1f2f5;
}
.answer label.radio .circle {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #999;
  border-radius: 25px;
  position: relative;
  top: 10px;
}
.answer label.radio .inner {
  display: block;
  width: 12.5px;
  height: 12.5px;
  border-radius: 12.5px;
  position: relative;
  top: 6.25px;
  left: 6.25px;
  background-color: transparent;
}
.answer label.radio input[type="radio"] {
  display: none;
}
.answer label.radio input[type="radio"]:checked + .circle .inner {
  background-color: #e21c77;
}
.answer label.radio .text {
  margin-left: 10px;
}
.answer label.radio.horizontal {
  border: 0;
  display: inline-block;
  margin-right: 2rem;
}
.answer.full-width {
  width: 100%;
}
.answer.textarea {
  width: 80%;
  margin: 30px auto;
}
.answer textarea {
  box-sizing: border-box;
  width: 100%;
  border-color: #999;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #999;
  font-size: 1.2rem;
  border-radius: 10px;
  overflow: auto;
  padding: 0.8rem 0.5rem;
  outline: none;
  min-height: 7rem;
  margin: 0 auto 1rem auto;
}
.answer label.number {
  display: inline-block;
  cursor: pointer;
  margin-right: 0.4rem;
}
.answer label.number input[type="radio"] {
  display: none;
}
.answer label.number .circle {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  line-height: 26px;
  color: #999;
  border: 2px solid #999;
}
.answer label.number input[type="radio"]:checked + .circle {
  border-color: #e21c77;
  background-color: #e21c77;
  color: #fff;
}

.mobile_row {
  display: inline-block;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 2rem;
  border: 2px solid #999;
  color: #999;
  height: 2rem;
  line-height: 1.75rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-left: 0.6rem;
}
.btn:first-child {
  margin-left: 0;
}
.btn:hover {
  background: #999;
  color: #fff;
}
.btn.btn-primary {
  color: #e21c77;
  border-color: #e21c77;
}
.btn.btn-primary:hover {
  background: #e21c77;
  color: #fff;
}

.btn.btn-primary.btn-start {
  color: #e21c77;
  border-color: #e21c77;
  height: 3rem;
  line-height: 2.7rem;
  border-radius: 2rem;
  font-size: 125%;
  margin-bottom: 3rem;
}

.btn.btn-primary.btn-start:hover {
  color: white;
}

.btn.btn-primary.btn-end {
  color: #e21c77;
  border-color: #e21c77;
  height: 3rem;
  line-height: 2.7rem;
  border-radius: 2rem;
  font-size: 125%;
  margin-bottom: 3rem;
}

.btn.btn-primary.btn-end:hover {
  color: white;
}

.progress-holder {
  width: 30%;
  margin: 3rem auto 3rem auto;
  padding: 0rem 0rem 2rem 0rem;
}
.progress-holder .progress-bar {
  width: 100%;
  height: 10px;
  background-color: #f1f2f5;
  position: relative;
  border-radius: 3px;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.progress-holder .progress {
  height: 10px;
  background-color: #2bd6c4;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  transition: width 0.3s ease;
}
.progress-holder .text {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #2bd6c4;
}

/*
@media (min-width: 930px) {
  body img.bg {
    left: auto;
    right: 0;
  }
}
*/
@media (max-width: 930px) {
  body img.bg {
      left: 60%;
    right: 0;
  }
}
@media (min-width: 1300px) {
  body img.bg {
      left: 65%;
    right: 0;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 13px;
  }

  img.bg {
    display: none;
  }

  main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  main h1.client_logo {
    width: 70%;
    height: 6rem;
  }

  .question {
    max-width: auto;
  }
}
@media (max-width: 470px) {
  .mobile_row {
    display: block;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */