/*
	MyFeedback front-end
*/

@import 'reset';

$blue-dark: #071c49;
$blue: #05c1dd;
$green: #2bd6c4;
$yellow: #fcd823;
$pink: #e21c77;
$white: #fff;
$grey-light: #999;
$grey-mid: #555;
$grey-dark: #333;

.hidden {
	display: none;
}

body {
	font-family: Rubik, sans-serif;
	font-size: 16px;
	color: #8f8f8f;

	img.bg {
		z-index: 0;
		position: fixed;
		top: 0;
		left: 60%;
		height: 100%;
	}
}


main {
	z-index: 1;
	width: 60%;
	text-align: center;
	// background: #fff;

	// full height
	position: absolute;
	top: 0;
	bottom: 0;
}

h1.client_logo {
	display: block;
	width: 30vw;
	height: 10vw;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	margin: 1rem auto;
}

.question {
	text-align: center;
	font-size: 150%;
	line-height: 1.4;
	width: 80%;
	max-width: 30rem;
	margin: 0 auto;
}

.answer {
	width: 9rem;
	margin: 2rem auto 4rem;

	label.tick {
		display: block;
		text-align: left;
		cursor: pointer;
		padding: 0 0 16px 10px;
		border-bottom: 1px solid #f1f2f5;

		&:first-child {
			border-top: 1px solid #f1f2f5;
		}

		.check {
			display: inline-block;
			width: 28px;
			height: 28px;
			background-image: url(../images/icon-tick-circle.png);
			background-color: #a0a0a0;
			position: relative;
			top: 10px;
		}

		input[type="radio"], input[type="checkbox"] {
			display: none;
		}

		input[type='radio']:checked + .check,
		input[type='checkbox']:checked + .check
		{
			background-color: $pink;
		}

		.text {
			margin-left: 10px;
			color: #5d5d5d;
		}
	} //label.tick

	label.radio {
		display: block;
		cursor: pointer;
		text-align: left;
		padding: 0 0 16px 10px;
		border-bottom: 1px solid #f1f2f5;

		&:first-child {
			border-top: 1px solid #f1f2f5;
		}

		$size: 25px;
		
		.circle {
			display: inline-block;
			width: $size;
			height: $size;
			border: 2px solid $grey-light;
			border-radius: $size;
			position: relative;
			top: 10px;
		}

		.inner {
			display: block;
			width: $size/2;
			height: $size/2;
			border-radius: $size/2;
			position: relative;
			top: $size/4;
			left: $size/4;
			background-color: transparent;
		}

		input[type="radio"] {
			display: none;
		}

		input[type="radio"]:checked + .circle .inner {
			background-color: $pink;
		}

		.text {
			margin-left: 10px;	
		}

		&.horizontal {
			border: 0;
			display: inline-block;
			margin-right: 2rem;
		}

	} //label.radio

	/* used for horizontal radios */
	&.full-width {
		width: 100%;
	}

	&.textarea {
		width: 80%;
		margin: 30px auto;
	}

	textarea {
		box-sizing: border-box;
		width: 100%;
		border-color: $grey-light;
		font-family: Rubik, sans-serif;
		color: $grey-light;
		font-size: 1.2rem;
		border-radius: 10px;
		overflow: auto;
		padding: 0.8rem 0.5rem;
		outline: none;
		min-height: 7rem;
		margin: 0 auto 1rem auto;
	}

	label.number {
		display: inline-block;
		cursor: pointer;
		margin-right: 0.4rem;

		input[type="radio"] {
			display: none;
		}

		$size: 26px;

		.circle {
			display: inline-block;
			width: $size;
			height: $size;
			border-radius: $size;
			line-height: $size;
			color: $grey-light;
			border: 2px solid $grey-light;
		}

		input[type="radio"]:checked + .circle {
			border-color: $pink;
			background-color: $pink;
			color: $white;
		}
	} //label.number

} //.answer

.mobile_row {
	display: inline-block;
}

$input-height: 2rem;

.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 2rem;
	border: 1px solid $grey-light;
	color: $grey-light; 
	height: $input-height;
	line-height: $input-height;
	border-radius: $input-height;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	margin-left: 0.6rem;

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		background: $grey-light;
		color: $white;
	}

	&.btn-primary {
		color: $pink;
		border-color: $pink;
	}
		
	&.btn-primary:hover {
		background: $pink;
		color: $white;
	}
}

.progress-holder {
	width: 30%;
	margin: 3rem auto;

	.progress-bar {
		width: 100%;
		height: 10px;
		background-color: #f1f2f5;
		position: relative;
		border-radius: 3px;
		box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.1);
	}

	.progress {
		height: 10px;
		background-color: $green;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 3px;
		transition: width 0.3s ease;
	}

	.text {
		margin-top: 10px;
		font-size: 0.8rem;
		color: $green;
	}
}

@media (min-width:930px ) {
	body img.bg {
		left: auto;
		right: 0;
	}
}

@media (max-width: 767px) {

	body {
		font-size: 13px;
	}

	img.bg {
		display: none;
	}

	main {
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		h1.client_logo {
			width: 70%;
			height: 6rem;
		}
	}

	.question {
		max-width: auto;
	}
}

@media (max-width: 470px) {
	.mobile_row {
		display: block;
		margin-bottom: 10px;
	}
}

